{
  "extends": "fbjs",
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "semi": [2, "never"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [0, "error"]
  },
  "globals": {
    "document": true
  }
}
